::-webkit-scrollbar {
  display: none;
}

a{
    text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

#body {
  width: 100%;
  min-height: 3187px;
  background-color: #FEFAE0; 
  background-image: url('/images/background.svg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: scroll;
}

.navbar-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 55%;
  height: 86px;
  border-radius: 43px;
  background: rgba(254, 250, 224, 0.99);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
}

#logo {
  flex: 1;
  max-width: 199px;
  max-height: 111px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;  
}

#nav-text{
  flex: 1;
  color: #432818;
  font-family: Suranna;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icons{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  gap: 2rem;
}

#header-leaf{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero{
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: 0;
  width: 100%;
  flex-wrap: wrap;
}

.hero img{
  width: 60%;
  left: 0;
}

.hero-figure{
  position: relative;
  top: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 132px;
  width: 30%;
  height: 614px;
  padding: 2rem;
  background: linear-gradient(180deg, #FEFAE0 0%, rgba(165, 99, 48, 0.76) 100%);
}

.hero-figure h1 {
  color: #432818;
font-family: Suranna;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

.hero-figure img{
  width: 100%;
  height: auto;
}


.product-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.product-info p{
  color: #432818;
font-family: "Tilt Neon";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

.hero-cta {
  border-radius: 17.5px;
background: #2EC4B6;
width: 134.554px;
height: 31.984px;
color: #FEFAE0;
font-family: "Tilt Neon";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-top: 2rem;
}

#hero-leaf{
  position: absolute;
  right: 0;
  top: 90%;

}

.trustbar-header {
  position: relative;
  width: 50%;
  height: 75px;
  border-radius: 69.5px;
  background: #FEFAE0;
  margin-top: 8rem;
  margin-left: 6rem;
  display: flex;            
  justify-content: center;  
  align-items: center;
}

.trustbar-header h1{
  color: #432818;
font-family: Suranna;
font-size: 3.5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.trustbar-contents{
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  justify-content: center;
  margin-top: 4rem;
}

#trustbar-container1, #trustbar-container2, #trustbar-container3{
  border-radius: 132px;
  background: #FEFAE0;
  width: 328.323px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

}

#trustbar-container1, #trustbar-container2, #trustbar-container3 p{
  color: #432818;
font-family: "Tilt Neon";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 2rem;
}

#trustbar-leaf{
  position: absolute;
  left: 0;
  top: 210%;
}

.figure {
 position: relative;
}

#figure-img {
  position: absolute;
  width: 37%;
  
}

#figure-txt{
  position: absolute;
  
}

.products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  top: 32rem;
  left: 13rem;
  gap: 2rem;
}






